## question1

In [15]:
a = 3
b = 5

print((a%2 == 1) and b< 3)

False

**1.2**

In [5]:
a!=7 or b>=2

True

**1.3**

In [6]:
!(a<10) or (b>5)

or was unexpected at this time.

**1.4**

In [7]:
a>5 and not(b==2)

False

## question 2

In [8]:
for i in range(1,11):
    print('*'*i)

*
**
***
****
*****
******
*******
********
*********
**********

## question 4

In [7]:
for n in range(1,15):
    if n%2 !=0:
        continue
    print(n, end=' ')

2 4 6 8 10 12 14

## question 5

**5.1**

In [ ]:
def area(r):
    return 3.14*r*r

50.24

**5.2**

In [4]:
def diff(num1,num2):
    return num1 - num2

diff(3,2)

1

## question 6

**6.1**

In [1]:
i = 5
while i >0 :
    print(i, end=' ')
    i-=1

5 4 3 2 1

**6.2**

In [3]:
i = 2
while True:
    print(i, end = ' ')
    i +=2
    if i> 10:
        break

2 4 6 8 10

**6.3**

In [4]:
sum = 0
for i in range(1,6):
    sum +=i
print("Total = ", sum)

Total =  15

**6.4**

In [5]:
for i in range(1,11):
    if i%2== 0:
        continue
    print(i, end=" ")

1 3 5 7 9

**6.5**

In [9]:
i = 10
while i >= 0:
    if i == 5:
        break
    print(i, end = " ")
    i -= 1

10 9 8 7 6

6.6

In [10]:
i = 3
while True:
    print(f'Step {i}')
    i += 1
    if i > 6:
        break

Step 3
Step 4
Step 5
Step 6

**6.7**

In [13]:
for x in range(1, 3):
    for y in range(1, 4):
        print(f'({x}, {y})', end=" ")
    print()

(1, 1) (1, 2) (1, 3)
(2, 1) (2, 2) (2, 3)

**6.8**

In [14]:
num = 1
sum = 0
while num <=10:
    if num%4 ==0:
        sum += num
    num += 1
print("sum = ", sum)

sum =  12

## question 7

In [ ]:
num = list(range(5))
print(num)
#printing the third element of the list
print(num[2])

[0, 1, 2, 3, 4]
2